[submodule "awesome-blockchain"]
	path = awesome-blockchain
	url = git@github.com:yjjnls/awesome-blockchain.git


[submodule "block chain/blockchain-tutorial-cn"]
	path = block chain/blockchain-tutorial-cn
	url = git@github.com:yjjnls/blockchain-tutorial-cn.git

